{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="row">
    <div class="blank"></div>
    <div class="container row col-10 offset-1">
        <div class="col-md-12 col-lg-5 container">
            <h1>Hi there,<br>this is <span class="text-primary">@rice0208</span>!</h1>
            <p class="text-muted">I'm rice0208, a junior high student in Shanghai, China.</p>
            <div style="padding: 30px;">
                <a class="btn btn-primary btn-lg d-block" href="https://github.com/rice0208">My GitHub</a>
            </div>
        </div>
        <div class="col-md-12 col-lg-7 container">
            <img
                src="https://camo.githubusercontent.com/4b8a7cf1406c4458fb9db466c2b5e536d7030228ce80a0871bbd81712440e5df/68747470733a2f2f6769746875622d726561646d652d73746174732e76657263656c2e6170702f6170693f757365726e616d653d72696365303230382673686f775f69636f6e733d74727565267468656d653d64726163756c6126696e636c7564655f616c6c5f636f6d6d6974733d74727565"
                style="width:100%; height:auto;"
            >
        </div>
    </div>
    <div class="blank"></div><hr>
    <div class="blank"></div>
    <div class="container row col-10 offset-1">
        <div class="col-md-12 col-lg-5 container">
            <img src="https://i.loli.net/2021/09/21/CIkPwrYVhiuFn3p.png"
                style="width:100%; height:auto; margin-bottom: 40px;"
            >
            <p class="small text-muted">&uparrow;&nbsp; Copyright 2021 Andy Zhou. This image comes from my friend <a href="https://github.com/z-t-y">@z-t-y's</a> project <a href="https://github.com/z-t-y/Flog">Flog</a>.</p>
        </div>
        <div class="col-md-12 col-lg-5 offset-lg-2 container">
            <h1>Try changing your <span class="text-success">icon</span> with @rice0208</h1>
            <p class="text-muted">This tool provides various GitHub-styled identicons just in this site. 
                You can try it out and get your own identicon with your name!</p>
            <div style="padding: 30px;">
                <a class="btn btn-success btn-lg d-block" href="/icons/">Try it out</a>
            </div>
        </div>
    </div>
    <div class="blank"></div><hr>
    <div class="blank"></div>
    <div class="container row col-10 offset-1">
        <div class="col-md-12 col-lg-5 container">
            <h1>
                <span class="text-warning">Fluorine</span>?<br>
                <span class="text-warning">Chlorine</span>?<br>
                <span class="text-warning">Tennessine</span>?<br>
                Welcome to our project.
            </h1>
            <p class="text-muted">Cannot ask good questions (with Chinese)? Here's a way to save you!<br>
                This project is made also with <a href="https://github.com/z-t-y">@z-t-y</a>.
            </p>
            <pre>$ pip install chlorine</pre>
            <div style="padding: 30px;">
                <a class="btn btn-warning btn-lg d-block" href="https://pypi.org/project/chlorine">See project</a>
            </div>
        </div>
        <div class="col-md-12 col-lg-7 container">
            <img
                src="https://i.loli.net/2021/09/21/nszCa5QHxjpTPDq.png"
                style="width:100%; height:auto;"
            >
        </div>
    </div>
    <div class="blank"></div><hr>
    <div class="blank"></div>
    <div class="container row col-10 offset-1">
        <h2 style="text-align: center;">Under Construction...</h2>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
        </div>
    </div>
    <div class="blank"></div>
</div>
{% endblock %}